body {
  padding :0;
  margin: 0;
  background-image: url('../dist/cork.jpg');
  background-repeat: repeat;
}
#spa {
  width: 100%;
  height: 100%;
  display: flex;

}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  min-height: 150px;
}
.row-limits {
  height: 25%;
  max-height: 150px;
}
.tile {
  flex: 1;
  min-width: 150px;
  align-self: stretch;
}
.polaroids > div {
  margin: 10px;
  flex: 1;
  min-width: 150px;
}
.polaroids div {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
}
.polaroids div:nth-child(even) {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}
.polaroids div > img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  position: relative;
  z-index: 105;
  padding: 5px;
  background-color: #fff;
}
.polaroids div > img {
  -webkit-transition: -webkit-transform .15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

/* On hover, darken the shadows a bit */
.polaroids div > img {
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
}
.selected > img{
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  padding: 5px;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  position: relative;
  z-index: 105;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  background-color: #fff;
}
.searchbar-container {
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;

}
.searchbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
}
.searchbar > input {
  pointer-events: all;
  width: 90%;
  border: 1px dashed white;
  background-color: rgba(0,0,0,0.5);
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 50px;
  color: white;
  border-radius: 5px;
  /*mix-blend-mode: multiply;*/
  padding: 0;
  margin: 0;
  line-height: 1;
  text-align: center;
}
.mobile-row{
  display: none;
}
@media screen and (max-width: 412px)
{
  .mobile-row{
    display: flex;
  }
  .mobile-hide {
    display: none;
  }
  .searchbar > input {
    font-size: 35px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 320px) /* iPhone 5S portrait */
{
  .searchbar > input {
    font-size: 35px;
    line-height: 1.5;
  }
}
